@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

html, body {
  margin: 0;
  padding: 0;
  background-color: #323232;
  font-family: "Amatic SC", cursive;
}

.container {
  margin: 3rem auto;
  height: 90vh;
  width: 80vw;
  min-width: 80%;
}

.large-hero {
  background-image: url(https://source.unsplash.com/mx0DEnfYxic);
  height: 100%;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 1.25rem;
  transition: all 1.5s;
  --webkit-transition: all 1.5s;
  --moz-transition: all 1.5s;
}

.text-content {
  width: 80%;
  margin: 0 auto;
  padding-top: 10%;
  text-align: center;
  color: #e8deed;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.5),
               0px 8px 13px rgba(0,0,0,0.3),
               0px 18px 23px rgba(0,0,0,0.1);
}

h1 {
  font-size: 5em;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 0;
  text-transform: uppercase;
}

h3 {
  margin-top: 0;
  font-weight: 400;
  font-size: 3em;
  letter-spacing: 2px;
}

hr {
  width: 50%;
  border-top: 1px solid #F8F8F8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

button {
  border: 3px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.0);
  font-size: 2rem;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  padding: 1rem 1.5rem;
  color: #e8deed;
  text-shadow: 0px 4px 5px rgba(0,0,0,0.5),
               0px 8px 13px rgba(0,0,0,0.3),
               0px 18px 23px rgba(0,0,0,0.1);
  border-radius: .625rem;
  outline: none;
  cursor: pointer;
  transition: all .4s;
  --webkit-transition: all .4s;
  --moz-transition: all .4s;
}

button:hover {
  background-color: white;
  color: #e8deed;
  text-shadow: none;
}
